* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.boder {
  background: rgba(77, 68, 181, 1);
  height: 100vh;
  width: 220px;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  margin: 4px 12px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.box2 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.box2 img {
  width: 20px;
  height: 20px;
  /* background-color: rgba(193, 187, 235, 1); */
}

.box2 p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgba(193, 187, 235, 1);
  margin: 0;
  white-space: nowrap;
}

.main-content-frame {
  flex-grow: 1;
  border: none;
  height: 100%;
}

.menu a.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu a.active .box2 p {
  color: #ffffff;
}

.menu a.active .box2 img {
  filter: brightness(0) invert(1);
}

.box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 25px 20px;
}

.p1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: rgba(193, 187, 235, 1);
  margin: 0;
  background: rgba(251, 125, 91, 1);
  width: 20px;
  height: 20px;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.p2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: rgba(193, 187, 235, 1);
  margin: 0;
  white-space: nowrap;
}

.menu-toggle {
  cursor: pointer;
  font-size: 24px;
  color: rgba(193, 187, 235, 1);
  margin-left: auto;
}

